body {
    margin:0;
    background-color: #34a19c;
}
#select {

    font-size: 2em;
    cursor: pointer;
}


#select li {
    list-style-type: none;
    border: 2px solid white;
    border-radius: 15px;
    margin:20px;
    padding:10px;
}


#base{
    width:100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
    color:white;
}
@media (orientation: landscape) {   
    .image{
        height: 100%;
        width:auto;
    }
  }

@media (orientation: portrait) {
    .image{
        width: 100%;
        height:auto;
    }  
}


.image{
    margin: auto;
    display:block;
  object-fit: contain;
/*position: relative;
top: 50%;
transform: translateY(-50%);
*/
 
}

.active {  
}
.hidden, #base.hidden {
    display:none;
}